/* Attempting to do a full width full page background image */
html {
  background: url(img/daniel-halseth-JbYkNEmvxIs-unsplash_3500x1969.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* This is our color palette based on the visual design guide. Please use the color variables below instead of typing in the hex code for each color. */
:root {
  --gulfBlue: #334da1;
  --gulfOrange: #f89939;
  --gulfPurple: #a151a4;
  --gulfPink: #e85f90;
  --gulfWhite: #ffffff;
  --gulfBlack: #000000;
  --navLinkText:Open Sans;
}

/*Link styles*/
a:link {
  text-decoration: none;
  color: var(--gulfBlue);
}
a:hover {
  font-weight: bolder;
}
a:visited {
  color: var(--gulfOrange);
}
/*End of link styles*/


/*******************************************/
/***********Styling our nav bar************/
/*****************************************/

nav{
  background-color:white !important;
  color:var(--gulfBlue) !important;
  border-bottom:1px var(--gulfBlue) solid;
}

/* Styling the nav links text */
.nav-link{
  color:var(--gulfBlue);
  font-weight:600;
}

.nav-item{
  margin-right:2%;
  font-family: sans-serif; /* This is fallback font for old browsers */
  font-family: var(--navLinkText);
}

/*Styling the dropdown menu + links */
.dropdown-menu{
  background-color:var(--gulfBlue);
  padding-bottom:0;
  padding-top:0;
}

/*Changing the distance between the dropdown menu and its parent link*/
.dropdown-menu[data-bs-popper]{
  top:50%;
}

.dropdown-item{
  background-color:var(--gulfBlue);
  color:var(--gulfWhite);
  border-bottom: 1px var(--gulfWhite) solid;
  font-family: sans-serif; /* This is fallback font for old browsers */
  font-family: var(--navLinkText);
}

.dropdown-item:hover{
  background-color:var(--gulfWhite);
  color:var(--gulfBlue);
  border: 1px var(--gulfBlue) solid;
}

/*Styling the navbar toggling icon */
.navbar-toggler-icon{
  border: 1px var(--gulfBlue) solid;
}

/*Styling programs page */
.our-programs {
  background-image: url("img/programbg.jpg");
  background-repeat: no-repeat;
}
.programs-h1 {
  color: var(--gulfWhite);
}

@media only screen and (max-width: 480px) {
  .card {
    max-width: 90%;
    row-gap: 30px;
    margin: 5px 0 5px 0;
  }
  .programs-h1 {
    margin-bottom: 0;
  }
}
/*End of programs page styling*/

/*Styling footer */
.centeredText{
  margin-top:5%;
  text-align:center;
}
.row {
  padding-top: 30px;
}
.quick-links {
  list-style-type: none;
  padding-left: 0;
}
.sm-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  column-gap: 20px;
  padding-left: 0;
  font-size: 35px;
}
.footer-hr {
  min-width: 100%;
  margin-bottom: 0;
  background-color: var(--gulfBlue);
}
/*End of footer styling*/
