:root {
  --gulfBlue: #334da1;
  --gulfOrange: #f89939;
  --gulfPurple: #a151a4;
  --gulfPink: #e85f90;
  --gulfWhite: #ffffff;
  --gulfBlack: #000000;
  --navLinkText:Open Sans;
}

/*Styling our nav bar*/

nav{
  background-color:white !important;
  color:var(--gulfBlue) !important;
  border-bottom:1px var(--gulfBlue) solid;
}

/* Styling the nav links text */
.nav-link{
  color:var(--gulfBlue);
  font-weight:600;
}

.nav-item{
  margin-right:2%;
  font-family: sans-serif; /* This is fallback font for old browsers */
  font-family: var(--navLinkText);
}

/*Styling the dropdown menu + links */
.dropdown-menu{
  background-color:var(--gulfBlue);
  padding-bottom:0;
  padding-top:0;
}

/*Changing the distance between the dropdown menu and its parent link*/
.dropdown-menu[data-bs-popper]{
  top:50%;
}

.dropdown-item{
  background-color:var(--gulfBlue);
  color:var(--gulfWhite);
  border-bottom: 1px var(--gulfWhite) solid;
  font-family: sans-serif; /* This is fallback font for old browsers */
  font-family: var(--navLinkText);
}

.dropdown-item:hover{
  background-color:var(--gulfWhite);
  color:var(--gulfBlue);
  border: 1px var(--gulfBlue) solid;
}

/*Styling the navbar toggling icon */
.navbar-toggler-icon{
  border: 1px var(--gulfBlue) solid;
}
